body{
    background: #0A1944 ;
}
/**/
header{
    position: absolute;
    padding: 30px;
    right: 30px;
    left: 30px;
}
.bloco{
    width: 940px;
    margin: 0 auto;
    position: relative;   
}
nav{
    position: absolute;
    top: 15px;
    right: 0px;

}
nav li{
    display: inline;
    margin-left: 25px;
}
nav a{
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #F4F4F5;
}
hr{
    margin:0;
}

nav a:hover{
    color: #F2B42A;
}

/**/

#img-principal{
    width: 100%;
}

.bloco-apresentacao{
    position: absolute;
    right: 30px;
    left: 30px;
    top: 240px;
}
.apresentacao{
    width: 940px;
    margin: 0 auto;
}
