body{
    background: #0A1944;
    font-family: "Exo 2", Arial, Tahoma, sans-serif;
}
/*TOP BAR*/

.barra-topo{
    width: 100%;
    height: 110px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    border-bottom: 1px solid rgba(255,255,255,.07);
}
.itens-barra{
    width:1080px;
    height: 110px;
    top: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu li{
    display: inline;
    line-height: 40px;
    padding: 0 20px;
}
.menu a{
    color:#F4F4F5;
    text-decoration: none;  
}
.menu a:hover{
    color:#F2B42A;
}
#img-principal{
    width:auto;
}
.bloco-apresentacao{
    position: absolute;
    right: 30px;
    left: 30px;
    top: 270px;
}
.apresentacao{
    width: 940px;
    margin: 10px auto;
}
#p1{
    color:#F2B42A;
    font-size: 23px;
    font-weight: 600;
}
#p2{
    color: #F4F4F5;
    font-size: 90px;
    padding: 12px 0;
    font-weight: 900;
}
#p3{
    color: #F4F4F5;
    font-size: 20px;
    font-family: 'Roboto', sans-serif; 
    font-weight:bold;
}
.caixa-botoes{
    margin-top:50px;
}
.botoes-apresentacao{
    background: transparent;
    border: solid 2px rgba(255, 255, 255, 0.1);
    box-shadow: 0;
    padding: 13px 35px;
    font-size: 17px;
    color:#F2B42A;
    font-weight: bold;
    border-radius: 3px;
}
.botoes-apresentacao:first-child{
    margin-right: 20px;
}
.botoes-apresentacao:hover{
    background: #FFFFFF;
    color: black;
    cursor: pointer;
}
/*Conteúdo Principal*/
main{
    width: 1080px;
    margin: 60px auto 0 auto;
}

.titulos-centralizados{
   text-align: center;
   font-size: 42px;
    margin-bottom: 2em;
}
.itens-problemas li{
    margin-top: 15px;
    display: inline-block;
    width: 20%;
    font-size: 16px;
    text-align: justify;
    vertical-align:top;
    box-sizing: border-box;
}
.itens-problemas h3{
    font-size: 23px;
    margin-bottom: 15px;
    text-align: left;
}